:root {
  --border-width: 35px;
}
.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: absolute;
  transform: translateX(-30%);
}

.loading-container .loading {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--border-width);
  border-color: transparent purple transparent purple;
  position: relative;
}
.loading-container .loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100%);
  width: calc(100%);
  border-radius: 50%;
  border-style: solid;
  border-width: calc(66px);
  box-sizing: border-box;
  border-color: purple transparent purple transparent;
  animation: animate 3s ease-in-out infinite backwards;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
